<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a routerLink="/" class="navbar-brand">My Routing App</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>


<!--  <div class="jumbotron text-center">
    <h1>The App Lives!</h1>
    <p>{{ message }}</p>
  </div> -->

<!--      <home-page></home-page>
  <about-page></about-page>
  <contact-page></contact-page> -->
